{% extends 'base.html' %} {% load static %} {% block content %}

<main class="flex-shrink-0">
  <!-- Navegação-->

  <!-- Conteúdo da página-->
  <section class="py-5">
    <div class="container px-5">
      <!-- Formulário de contato-->
      <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
          <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
            <i class="bi bi-envelope"></i>
          </div>
          <h1 class="fw-bolder">Entre em contato</h1>
          <p class="lead fw-normal text-muted mb-0">Vamos trabalhar juntos!</p>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
            <form id="contactForm" method="POST" action="{% url 'contact' %}">
              {% csrf_token %}
              <!-- Campos do formulário -->
              <div class="form-floating mb-3">
                <input class="form-control" id="name" name="name" type="text" placeholder="Digite seu nome..." />
                <label for="name">Nome completo</label>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" id="email" name="email" type="email" placeholder="nome@exemplo.com" />
                <label for="email">Endereço de email</label>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" id="phone" name="phone" type="tel" placeholder="(XX) XXXXX-XXXX" />
                <label for="phone">Número de telefone</label>
              </div>

              <div class="form-floating mb-3">
                <textarea class="form-control" id="message" name="message" placeholder="Digite sua mensagem aqui..."
                  style="height: 10rem"></textarea>
                <label for="message">Mensagem</label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  document.querySelector("#contactForm").addEventListener("submit", async function (event) {
    event.preventDefault(); // Impede o envio padrão do formulário

    const form = new FormData(this); // Coleta os dados do formulário
    const response = await fetch(this.action, {
      method: "POST",
      body: form,
    });

    const result = await response.json();

    if (result.success) {
      // Mensagem de sucesso
      alert("Formulário enviado com sucesso!");

      // Limpar os campos do formulário
      this.reset();
    } else {
      // Mensagem de erro
      alert("Erro ao enviar: " + result.message);
    }
  });
</script>


{% endblock %}