{% extends 'base.html' %} {% load static %} {% block content %}

<main class="flex-shrink-0">
  <!-- Navegação-->

  <!-- Conteúdo da página-->
  <section class="py-5">
    <div class="container px-5">
      <!-- Formulário de contato-->
      <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
          <div
            class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"
          >
            <i class="bi bi-envelope"></i>
          </div>
          <h1 class="fw-bolder">Entre em contato</h1>
          <p class="lead fw-normal text-muted mb-0">Vamos trabalhar juntos!</p>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
              <!-- Nome-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Digite seu nome..."
                  data-sb-validations="required"
                />
                <label for="name">Nome completo</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">
                  O nome é obrigatório.
                </div>
              </div>
              <!-- Email-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="email"
                  type="email"
                  placeholder="nome@exemplo.com"
                  data-sb-validations="required,email"
                />
                <label for="email">Endereço de email</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">
                  O email é obrigatório.
                </div>
                <div class="invalid-feedback" data-sb-feedback="email:email">
                  Email inválido.
                </div>
              </div>
              <!-- Telefone-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="phone"
                  type="tel"
                  placeholder="(XX) XXXXX-XXXX"
                  data-sb-validations="required"
                />
                <label for="phone">Número de telefone</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">
                  O telefone é obrigatório.
                </div>
              </div>
              <!-- Mensagem-->
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  id="message"
                  placeholder="Digite sua mensagem aqui..."
                  style="height: 10rem"
                  data-sb-validations="required"
                ></textarea>
                <label for="message">Mensagem</label>
                <div
                  class="invalid-feedback"
                  data-sb-feedback="message:required"
                >
                  A mensagem é obrigatória.
                </div>
              </div>
              <!-- Mensagem de sucesso-->
              <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                  <div class="fw-bolder">Envio realizado com sucesso!</div>
                  Para ativar este formulário, cadastre-se em
                  <br />
                  <a href="https://startbootstrap.com/solution/contact-forms"
                    >https://startbootstrap.com/solution/contact-forms</a
                  >
                </div>
              </div>
              <!-- Mensagem de erro-->
              <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">
                  Erro ao enviar mensagem!
                </div>
              </div>
              <!-- Botão de envio-->
              <div class="d-grid">
                <button
                  class="btn btn-primary btn-lg disabled"
                  id="submitButton"
                  type="submit"
                >
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Rodapé-->
{% endblock %}
